@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONT Poppins */
@layer base {
  @font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  body {
    font-family: "Poppins", sans-serif;
  }
}

/* FLAG ICONS */
@layer components {
  .flag-icon {
    @apply inline-block bg-gray-100 rounded-md bg-center bg-cover shadow-sm;
  }
  .flag-jp { background-image: url('../assets/images/logo_Jepang.png'); }
  .flag-cn { background-image: url('../assets/images/logo_China.png'); }
  .flag-kr { background-image: url('../assets/images/logo_Korea.png'); }
}






